@import "./variables";


body{
    
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: grid;
    @include reset;
    background-color: #ffffff;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.3fr 3fr 3fr 0.2fr;
    grid-template-areas: 
    "header header header"
    "main main main"
    "main main main"
    "footer footer footer";
}

header{
    grid-area: header;
    
    
}
main{
    grid-area: main;
    
    
}
footer{
    grid-area: footer;
    background-color: gold;
}

.dark {
    background-color: $colorPrincipal;
    color: white;
    h2{
      color: white;
    }
    p{
      color: white;
    }
    footer{
      background-color: $colorSecundario;

    }
    #mainCompraProd{
      #tituloProd{
        color: white;
      }
    }    
    #materialesMezcla{
      a{
        div{
          background-color: $colorSecundario;
        }
      }
    }
    #infoProdPrimeraCol{
      div{
        img{
          border: 3px solid $colorSecundario;
        }
      }
    }  
    #mainCarrito{
      #prodEnCarrito{
        
        div{
            div{
              border: 2px solid $colorSecundario;
                
          }
        }
      }
    }
    #mainPageFormularioContacto{
      #formulario{
        border-left: 2px solid white;
      }
    }    
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    
    
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
    
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    background-color: $colorSecundario;
    
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    
  }
  
  input:checked + .slider {
    background-color: $colorPrincipal;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px $colorPrincipal;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
