@import "./mixins";
@import "./variables";

#mainPagProductos{
    .materiales{
        margin-top: 10vh;
        display: flex;
        flex-direction: column;
        align-items: center;       
        
        a{
            @include reseteo-links;
            color: $colorPrincipal;
            div{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 50vh;
                border-radius: 2vh;
                text-shadow: black 5px 10px 15px;
                
                
                h2{
                    text-align: center;
                    font-weight: 400;
                   
                }
                img{
                    width: 100vh;
                    height: 40vh;
                    border: solid $colorSecundario 3px;
                }
            }
        }
    }
        
    }
