@import "./mixins";
@import "./variables";

#mainMatConstru{
    
    
    #tituloPagMatConstru{
    text-align: center;
    font-weight: 300;
    }
    #materialesMezcla{
        margin-top: 10vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
       
        a{ @include reseteo-links;
            color: $colorPrincipal;
            
            div{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 3vh 0 3vh 0;
                width: 27vh;
                height: 37vh;
                border-radius: 2vh;
                box-shadow: 10px 10px 20px;
                margin: 5vh 10vh 5vh 10vh;
                
                h2{
                    font-weight: 400;
                    text-align: center;
                }
                img{
                    width: 22vh;
                }
                p{
                    font-size: 1.4rem;
                    padding-bottom: 1vh;
                }
            }
        }
    }
}