@import "./mixins";
@import "./variables";

#mainPagProductos{
    
    
    #materiales, #materiales2{
        margin-top: 10vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        a{
            @include reseteo-links;
            color: $colorPrincipal;
            div{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                box-shadow: 10px 10px 20px;
                width: 25vh;
                height: 35vh;
                border-radius: 2vh;
                
                h2{
                    text-align: center;
                    font-weight: 400;
                }
                img{
                    width: 25vh;
                    
                }
            }
        }
    }
        
    }
