@import "./variables";
@import "./mixins";

#mainPageFormularioContacto{
    margin: 10vh 5vh 0 5vh;
    display: flex;
    color: $colorPrincipal;
    #infoContacto{
        
        div{   
            margin-top: 5vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            p{
                font-weight: 500;
                
            }
            img{
                width: 5vh;
            }
        }
    }

    #secFormulario{

        display: flex;
        flex-direction: column;
        align-items: center;
        border-left: 2px solid $colorPrincipal;
        margin: 0 2vh 5vh 2vh;
        border-radius: 3px;
        
        
        h2{
            font-size: 2.5rem;
            text-align: center;
            margin: 0 0 0 5vh;
        }
        p{
            text-align: center;
            font-size: 1.2rem ;
            margin-top: 5vh;
        }
        #formularioCuerpo{
           margin-top: 10vh;
            #formulario{
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 90vh;
                border: none;
                
                div{
                    input{
                        height: 3vh;
                        width: 30vh;
                        margin: 1vh 0 1vh 0;
                    }
                }
                button{
                    margin-top: 2vh;
                    height: 5vh;
                    width: 20vh;
                    background-color: rgb(10, 214, 10);
                    color: white;
                    border: none;
                    border-radius: 20px;
                    font-weight: 700;
                    cursor: pointer;
                    
                }
            }
        }
    }
}